<p id="notice"><%= notice %></p>

<section class="panel panel-default">
	<div class="panel-body">
		<p>
		  <strong>First name:</strong>
		  <%= @user.first_name %>
		</p>
		
		<p>
		  <strong>Last name:</strong>
		  <%= @user.last_name %>
		</p>
		
		<p>
		  <strong>Age:</strong>
		  <%= @user.age %>
		</p>
	</div>
</section>

<%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-default' %> |
<%= link_to 'Back', users_path, class: 'btn btn-default' %>
